n8n/workflow_template/Backup_n8n.json
[{"createdAt":"2025-08-27T05:24:37.884Z","updatedAt":"2025-08-27T07:51:03.000Z","id":"g1YPp70Lq1U1Egwr","name":"Backup_n8n","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[64,128],"id":"efe4931f-9d26-42b4-99ff-c10d3752d980","name":"When clicking ‘Execute workflow’"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[64,320],"id":"3cb3bd08-dc47-4dac-b99b-9ac2b0c24b00","name":"Schedule Trigger"},{"parameters":{"content":"バックアップコマンドを実行\nコンテナ側: /home/node/.n8n/workflow_backup/\n↓\nWindows側: n8n/workflow_backup/\nでマウントしているので、Windows側で取得可能   \n","height":128,"width":352},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[912,224],"id":"7e68f19f-755e-49d9-b7a1-d179070c2b42","name":"Sticky Note"},{"parameters":{"executeOnce":false,"command":"=n8n export:workflow --id={{ $json.id }} --output=/home/node/.n8n/workflow_backup/{{ $json.name.replaceAll(/[ ()]/g, '-')}}.json"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1008,80],"id":"1ce16ffd-c699-4bee-a2a6-baeaeb62cb6e","name":"Execute Command"},{"parameters":{"content":"全ワークフロー取得","height":80,"width":160},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[368,224],"id":"fce1e1d5-a1b9-4001-927a-76a27ac5af56","name":"Sticky Note1"},{"parameters":{"command":"n8n export:workflow --all | grep createdAt"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[400,80],"id":"dc255e92-7db9-42a2-b03e-6652642849da","name":"Execute Command1"},{"parameters":{"mode":"raw","jsonOutput":"={\"workflows\": {{ $json.stdout }}}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,80],"id":"830eedea-75c8-42dc-846a-cd6911a513d5","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"workflows","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[800,80],"id":"f045ce17-0328-4144-b873-0ece94ad1cfd","name":"Split Out"},{"parameters":{"executeOnce":false,"command":"=n8n export:credentials --id={{ $json.id }} --output=/home/node/.n8n/credential_backup/{{ $json.name.replaceAll(/[ ()]/g, '-')}}.json"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1008,400],"id":"8d12c676-d38b-412b-a2b5-9561818f15c4","name":"Execute Command2"},{"parameters":{"command":"n8n export:credentials --all | grep createdAt"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[384,400],"id":"d0956a7f-aec5-4144-81d3-a697c5672e3d","name":"Execute Command3"},{"parameters":{"mode":"raw","jsonOutput":"={\"credentials\": {{ $json.stdout }}}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,400],"id":"3f14b0c3-d62a-4d53-b0b2-80e482fa7c90","name":"Edit Fields1"},{"parameters":{"fieldToSplitOut":"credentials","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[800,400],"id":"1d01c005-c1b2-43ce-9c5e-636abdc5bb24","name":"Split Out1"},{"parameters":{"content":"バックアップコマンドを実行\nコンテナ側: /home/node/.n8n/credencial_backup/\n↓\nWindows側: n8n/credencial_backup/\nでマウントしているので、Windows側で取得可能   \n","height":128,"width":352},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[896,544],"id":"34a5052a-4970-4b88-89ae-9dc6e35c3713","name":"Sticky Note2"},{"parameters":{"content":"全Credential取得","height":80,"width":160},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[352,544],"id":"049b01c4-3354-40fe-ab23-1c892e6f32e9","name":"Sticky Note3"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Execute Command1","type":"main","index":0},{"node":"Execute Command3","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Execute Command1","type":"main","index":0},{"node":"Execute Command3","type":"main","index":0}]]},"Execute Command1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Execute Command3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Execute Command2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"91d7e545-2ae6-49fd-928f-4b561f75f1ac","triggerCount":1,"tags":[]}]